<!--{% comment %} <div class="container">
  <div class="row justify-content-center">
    <div class="col-8 mt-2">
      <div class="input-group shadow  bg-white rounded">
        <textarea class="form-control" style="height:300px; resize: none;" aria-label="With textarea"></textarea>
      </div>
    </div>
 </div>
  <div class="row justify-content-center mt-5">
    <div class="col-5">

    






    </div>
 </div>
</div> {% endcomment %}-->
<div class="form">

  <form [formGroup]="formGroupMessage" (ngSubmit)="sendMessage(target)">
    <div class="form-group">
      <!-- Chat -->
      <div class="border-danger rounded" style="height:46%">
        <div    class="word_in_chat">
          <span #target *ngFor="let msg of array_messages">
            <p class="friends" *ngIf="msg.idUser != currentUser"><strong>{{ msg.idUser }}:</strong>
              {{ msg.message }}</p>

            <p class="me" *ngIf="msg.idUser == currentUser"><strong>{{ msg.idUser }}:</strong>
              {{ msg.message }}</p>
          </span>

          <!-- <p class="word_in_chat" ><strong>Augusto:</strong> Hola mundo</p> -->
        </div>
        <div class="bar-bottom">

          <input type="email" formControlName="message" class="border border-danger m-2 p-1 rounded position_chat"
            id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mensaje">
          <button type="submit"  class="btn btn-danger">Enviar</button>
        </div>
      </div>
    </div>
  </form>
</div>