<div class="container">    
  <form [formGroup]="formGroupMessage" (ngSubmit)="sendMessage(target)">
      <div class="form-group shadow-none p-3 mb-5 bg-light rounded" 
           style="height: 400px; overflow-y: auto; overflow-x: hidden;">
        <!-- Chat -->
        <div class="row" 
            *ngFor="let msg of array_messages">
            <p class="col-5 ml-3 
                      shadow-sm p-3 mb-5 bg-white rounded 
                      rounded-right text-break align-self-start" 
              *ngIf="msg.idUser != currentUser"><strong>{{ msg.idUser }}:</strong>
              {{ msg.message }}</p>
    
            <p class="col-5 mr-3 
                      rounded-left text-break 
                      shadow-sm p-3 mb-5 bg-white rounded
                      align-self-end ml-auto" 
              *ngIf="msg.idUser == currentUser"><strong>{{ msg.idUser }}:</strong>
              {{ msg.message }}</p>
        </div>
      </div>
      <div class="row">
        <input type="email" 
               formControlName="message" 
               class="col-9 border border-dark m-2 p-1 rounded position_chat"
               id="exampleInputEmail1" 
               placeholder="Mensaje">

        <button type="submit"  
                class="btn btn-outline-dark my-2 col-2">Enviar</button>
      </div>
    </form>
</div>